
$highlighted-color: #feb048;

.navbar {
    @media (max-width: 991px) {
        .navbar-collapse {
            .navbar-nav {
                align-items: flex-start;
                
                .nav-item {
                    text-align: left;
                }

                .nav-link, .dropdown-item {
                    font-size: 1.4rem;
                    padding: 0.7rem 0;
                }

                .nav-link {
                    padding-left: 0;
                    width: fit-content;

                    &::after {
                        left: 0;
                        transform: scaleX(0);
                    }

                    &:hover::after, &.activated::after, &:active::after, &:focus::after {
                        transform: scaleX(1);
                    }
                }
                
                .dropdown-menu {
                    width: auto;
                    min-width: max-content;
                    max-width: 100vw;
                    white-space: nowrap;
                    padding-left: 1rem;
                    position: static;
                    float: none;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    
                    @media (max-width: 991px) {
                        background-color: rgba(0, 0, 0, 0.1);
                        padding: 0.5rem 0;
                        .dropdown-item {
                            padding: 0.7rem 1rem;
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }
  
    .navbar-brand {
        padding: 5px 19px;
        margin-right: 3px;
        transition: color 0.3s ease;
        color: white;
        @media (max-width: 991px) {
            font-size: 1.8rem;
        }
  
        &:hover, &.active, &:active, &:focus {
            color: $highlighted-color;
        }
    }
  
    .nav-link {
        color: white;
        padding: 5px 10px;
        margin: 0 5px;
        position: relative;
        transition: color 0.3s ease;
        display: inline-block;
        width: fit-content;

        &:hover, &.activated, &:active, &:focus {
            color: $highlighted-color;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 2px;
            background-color: $highlighted-color;
            transition: transform 0.3s ease;
            transform: translateX(-50%) scaleX(0);
        }

        &:hover::after, &.activated::after, &:active::after, &:focus::after {
            transform: translateX(-50%) scaleX(1);
        }
    }

    @media (max-width: 991px) {

        .navbar-brand {
            font-size: 2rem;
        }

        .navbar-collapse {
            .navbar-nav {
                align-items: flex-start;
                
                .nav-item {
                    text-align: left;
                }

                .nav-link {
                    padding-left: 0;
                    width: fit-content;

                    font-size: 1.7rem;

                    &::after {
                        left: 0;
                        transform: scaleX(0);
                    }

                    &:hover::after, &.activated::after, &:active::after, &:focus::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
  
    .nav-item {
        min-width: 100px;
        text-align: center;
    }
  
    .nav-link, .navbar-brand {
        font-weight: bold;
    }

    .nav-link.dropdown-toggle {
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 2px;
            background-color: currentColor;
            transition: transform 0.3s ease;
            transform: translateX(-50%) scaleX(0);
        }

        &:hover::after, &.activated::after, &:active::after, &:focus::after {
            transform: translateX(-50%) scaleX(1);
        }
    }

    .nav-link.dropdown-toggle.default-color {
        color: black;
        font-weight: bold;

        &:hover, &.activated, &:active, &:focus {
            color: black;
        }
    }

    .nav-link.dropdown-toggle.projects-color {
        color: white;
        font-weight: bold;

        &:hover, &.activated, &:active, &:focus {
            color: white;
        }
    }

    .dropdown-menu {
        background-color: black;
        text-align: center;
        width: auto;
        min-width: max-content;
        max-width: 100vw;
        white-space: nowrap;

        @media (max-width: 991px) {
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
            box-shadow: none;
            padding: 0.5rem 0;
            .dropdown-item {
                padding: 0.7rem 1rem;
            }
        }

        .dropdown-item {
            color: white;
            display: block;
            width: 100%;
            text-align: left;

            &:hover {
                background-color: #444;
            }

            &:active, &:focus {
                background-color: #444;
            }

            @media (max-width: 991px) {
                
            }
        }
    }

    .navbar-toggler.white {
        border-color: white;
    
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }

    }

    @media (max-width: 991px) {
        .navbar-toggler {

            .navbar-toggler-icon {
                width: 3rem; // Ajusta el ancho del icono
                height: 3rem;
            }
        }
    }
}

.about-me {
    min-height: 100vh;
    background: linear-gradient(75deg, 
        #583177 10%,
        #683f78 20%,
        #9c4a63 40%,
        #d0614e 57%,
        #e77346 67%,
        #feb048 100%
    );
    overflow-x: hidden;

    .container-fluid {
        padding: 2rem;
    }

    .top-section {
        padding: 5vh 5vw;
        min-height: 80vh;
        display: flex;
        align-items: center;
    }

    .text-column, .photo-column {
        padding: 2rem;
    }

    .presentation {
        color: white;
        text-align: justify;
        text-shadow: 
            2px 2px 5px rgba(0, 0, 0, 0.2),
            -2px -2px 5px rgba(0, 0, 0, 0.2);
        max-width: 515px;
        width: 100%;
        margin: 0 auto;

        h1 {
            font-size: clamp(2rem, 5vw, 3.7rem);
            font-weight: bold;
            margin-bottom: 1.5rem;
        }

        h2 {
            font-size: clamp(1.2rem, 3vw, 1.7rem);
            margin-bottom: 0rem;
        }

        p {
            font-size: clamp(1rem, 2vw, 1.1rem);
            margin-top: 1.5rem;
        }

        .highlighted {
            font-weight: bold;
            color: $highlighted-color;
        }
    }

    .social-buttons {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        button {
            transition: transform 0.3s ease-in-out;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
            border: 0;
            color: white;

            &:hover {
                transform: translateY(-5px);
            }
        }

        .gh-btn {
            background: hsl(0, 0%, 10%);
        }

        .lnk-btn {
            background: #0077B5;
        }

        .social-url {
            color: white;
            text-decoration: none;
        }
    }

    .profile-picture {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .sphere-container {
            width: clamp(200px, 50vw, 400px);
            height: clamp(200px, 50vw, 400px);
            border-radius: 50%;
            position: relative;
            z-index: 3;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .sphere {
            position: absolute;
            border-radius: 50%;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
        }

        .sphere1 {
            position: absolute;
            width: clamp(85px, 20vw, 170px);
            height: clamp(85px, 20vw, 170px);
            top: -20%;
            left: 10%;
            background: linear-gradient(50deg, #842759 15%, #ca3440 35%, #ee663b 55%, #fcd35d 100%);
            z-index: 3;
        }

        .sphere2 {
            width: clamp(55px, 15vw, 110px);
            height: clamp(55px, 15vw, 110px);
            bottom: -10%;
            right: 3%;
            background: linear-gradient(55deg, #301558 13%, #4b2b9f 33%, #9b5fec 67%, #f1aaff 100%);
            z-index: 3;
        }

        .sphere3 {
            width: clamp(275px, 60vw, 550px);
            height: clamp(275px, 60vw, 550px);
            z-index: 1;
            background: linear-gradient(50deg, #842759 15%, #ca3440 35%, #ee663b 55%, #fcd35d 100%);
        }
        
        .sphere4 {
            width: clamp(200px, 50vw, 485px); // Tamaño más pequeño que sphere3
            height: clamp(200px, 50vw, 485px); // Tamaño más pequeño que sphere3
            z-index: 2; // Mayor z-index para estar delante de sphere3
            overflow: hidden;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6),
                inset 0 0 25px 25px rgba(0, 0, 0, 0.1);
        
            &::before, &::after {
                content: '';
                position: absolute;
                top: -50%;
                left: -50%;
                width: 200%;
                height: 200%;
            }
        
            &::before {
                background: conic-gradient(
                    from 0deg,
                    #cb3f37 0deg,
                    #cb3f37 30deg,
                    #f88950 90deg,
                    #bc6393 180deg,
                    #48234f 270deg,
                    #8e3045 330deg,
                    #cb3f37 360deg
                );
                filter: blur(35px);
            }
        
            &::after {
                background:
                    radial-gradient(
                        circle at center,
                        #cb3f37 0deg,
                        #cb3f37 30deg,
                        #f88950 90deg,
                        #bc6393 180deg,
                        #48234f 270deg,
                        #8e3045 330deg,
                        #cb3f37 360deg
                    ),
                    linear-gradient(
                        135deg,
                        rgba(255, 255, 255, 0.4) 0%,
                        rgba(255, 255, 255, 0.1) 30%,
                        rgba(0, 0, 0, 0.1) 70%,
                        rgba(0, 0, 0, 0.4) 100%
                    );
                pointer-events: none;
            }
        }
    }

    
}

@media (max-width: 991px) {
    .about-me {
        .top-section {
            flex-direction: column;
        }

        .text-column, .photo-column {
            width: 100%;
        }

        .photo-column {
            order: -1;
            margin-bottom: 70px;
            padding-top: 65px;
        }

        .presentation {
            text-align: center;
            margin: 0;
            padding: 0 1rem; // Añadir padding para asegurar que el texto no toque los bordes de la pantalla
            max-width: 100%; // Asegurarse de que ocupe todo el ancho disponible

            font-size: 1.5rem;

            h1 {
                font-size: clamp(4rem, 5vw, 3.7rem);
                font-weight: bold;
                margin-bottom: 1.7rem;
            }
            
            h2 {
                font-size: clamp(2.8rem, 3vw, 1.7rem);
                margin-bottom: 0rem;
            }
            
            p {
                font-size: clamp(1.9rem, 2vw, 1.1rem);
                margin-top: 1.7rem;
            }
        }
    }
}

@media (max-width: 480px) {
    .about-me {
        .container-fluid {
            padding: 1rem;
        }

        .top-section {
            padding: 2vh 2vw;
        }

        .text-column, .photo-column {
            padding: 1rem;
        }
    }
}



$background-haskell: linear-gradient(50deg,
    #433762,
    #5e4f87,
    #904d8c
);

$background-rust: linear-gradient(50deg,
    #20183c,
    #503c57,
    #7f5357
);


$background-lua: linear-gradient(50deg,
hsl(240, 100%, 15%),
hsl(240, 100%, 17%),
hsl(240, 100%, 19%),
);



.projects {
    min-height: 100vh;
    background: linear-gradient(75deg, 
        hsl(273, 5%, 10%) 10%,
        hsl(283, 5%, 12%) 20%,
        hsl(342, 5%, 14%) 40%,
        hsl(9, 5%, 16%) 57%,
        hsl(17, 5%, 18%) 67%,
        hsl(34, 5%, 20%) 100%
    );
    overflow-x: hidden;

    .cards {
        margin-top: 80px;

        .card-body {
            .language-text {
                color: white;
            }
        }

        .card {
            border: 2px solid #fff;
            box-shadow: -15px 15px 35px rgba(0, 0, 0, 0.75);
            border-radius: 20px;
            color: white;
        }

        .haskell-card {
            background: $background-haskell;

            .project-link {
                color: $highlighted-color !important;
            }
        }

        .rust-card {
            background: $background-rust;

            .project-link {
                color: $highlighted-color !important;
            }
        }

        .lua-card {
            background: $background-lua;

            .project-link {
                color: $highlighted-color !important;
            }
        }

        .default-card {
            background: hsl(0, 0%, 5%);

            .project-link {
                color: $highlighted-color !important;
            }
        }

    }

    @media (max-width: 991px) {
        .cards {
            width: 100%;

            .card {
                width: 100%;
            }

            .card-title {
                font-size: 2.5rem;
            }

            .card-text {
                font-size: 1.6rem;
            }

            .language-text {
                font-size: 1.6rem;
            }

            .row {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .col {
                width: 100%;
                max-width: 650px; // Ajusta este valor según tus necesidades
                margin-bottom: 20px;
            }
        }
    }
}

$tam3x3: 240px;

.super-tres {

    background: linear-gradient(75deg, 
    hsl(273, 5%, 10%) 10%,
    hsl(283, 5%, 12%) 20%,
    hsl(342, 5%, 14%) 40%,
    hsl(9, 5%, 16%) 57%,
    hsl(17, 5%, 18%) 67%,
    hsl(34, 5%, 20%) 100%
    );

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


    .check-button {

        width: 100%;
        height: 50px;

        border-radius: 20px;
        border: 0;

        
    }

  .first-player {
    background: linear-gradient(50deg,
      #433762,
      #5e4f87,
      #904d8c
    );
  }


  .second-player {
    background: linear-gradient(50deg,
    #925078 15%,  
    #c85856 35%,  
    #ea7b5b 55%,  
    #fcd97a 100%  
    );
  }
  
  .super-3x3 {
    border-collapse: separate;
    border-spacing: 10px;
    
  
    td {

      width: $tam3x3;
      height: $tam3x3;

      padding: 5px;

      //padding-left: 29px;
      background-color: #f0f0f0;
      border-radius: 5px;
      text-align: center;
      vertical-align: middle;
      font-size: 50px;
      font-weight: bold;
    }

    .first-player {
      background: linear-gradient(50deg,
        #433762,
        #5e4f87,
        #904d8c
      );
    }


    .second-player {
      background: linear-gradient(50deg,
      #925078 15%,  
      #c85856 35%,  
      #ea7b5b 55%,  
      #fcd97a 100%  
      );
    }

    .playable {
      background: $highlighted-color;
    }

    .tabla-3x3 {
      border-collapse: collapse;
    
      width: $tam3x3;
      height: $tam3x3;

      td {
  
        padding: 0;
  
        width: 80px;
        height: 80px;
        border: 1px solid #000;
        border-radius: 0;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        font-weight: bold;
      }
  
      button {
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
      }
  
      .unplayed {
        background: #f0f0f0;
      }
  
      .first-player {
        background: linear-gradient(50deg,
          #433762,
          #5e4f87,
          #904d8c
        );
      }
  
      .second-player {
        background: linear-gradient(50deg,
        #925078 15%,  
        #c85856 35%,  
        #ea7b5b 55%,  
        #fcd97a 100%  
        );
      }
  
    }
  }
  
}